# Use root/example as user/password credentials
version: '3.1'

services:

  db:
    image: mysql
    container_name: traccar_db
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: mysql_root_password
    volumes:
      - mysql-db:/var/lib/mysql
      - ./mysql.sql:/docker-entrypoint-initdb.d/mysql.sql

  traccar:
    image: traccar/traccar
    container_name: container_name: traccar
    restart: always
    ports:
      - 80:8082
      - 5000-5150:5000-5150
      - 5000-5150:5000-5150/udp
    volumes:
      - ./traccar.xml:/opt/traccar/conf/traccar.xml:ro
      - /opt/traccar/logs:/opt/traccar/logs:rw 
    depends_on:
      - db 

  backup:
    image: databack/mysql-backup
    container_name: traccar_backup
    restart: always
    user: "0"
    volumes:
     - ~/traccar-backups:/db
    environment:
     - DB_DUMP_TARGET=/db
     - DB_USER=root
     - DB_PASS=mysql_root_password
     - DB_DUMP_FREQ=1440
     - DB_DUMP_BEGIN=+1
     - DB_SERVER=db

volumes:
    mysql-db:
